<footer class="footer-wrapper" id="footer">
<div class="absolute-footer dark medium-text-center small-text-center">
<div class="container clearfix">
<nav aria-label="Footermenu" class="footer-nav">
<a href="/escape-game-the-hunt-locaties/">Locaties</a>
<a href="/escape-game-the-hunt-prijzen/">Prijzen</a>
<a href="/op-maat-gemaakt/">Op maat gemaakt</a>
<a href="/escape-game-the-hunt-open-inschrijving/">Open inschrijving</a>
<a href="/veelgestelde-vragen/">Veelgestelde vragen</a>
<a href="/escape-game-the-hunt-nieuws/">Nieuws</a>
<a href="/over-ons/">Over ons</a>
<a href="/werken-bij/">Werken bij</a>
<a href="/contact/">Contact</a>
</nav>
<div class="footer-primary pull-left">
<div class="copyright-footer">
        Copyright 2020 - 2026 Escape Game The Hunt is part of the Badass Group B.V. © <strong></strong> </div>
</div>
</div>
</div>
<button aria-label="Terug naar boven" class="back-to-top button icon invert plain fixed bottom z-1 is-outline circle hide-for-medium" id="top-link" type="button"><i aria-hidden="true" class="icon-angle-up"></i></button>
</footer>
