<div class="header-wrapper">
<div class="header-top nav-dark" id="top-bar">
<div class="flex-row container">
<div class="flex-col hide-for-medium flex-left">
<ul class="nav nav-left medium-nav-center nav-small nav-divided nav-uppercase">
</ul>
</div>
<div class="flex-col hide-for-medium flex-center">
<ul class="nav nav-center nav-small nav-divided nav-uppercase">
</ul>
</div>
<div class="flex-col hide-for-medium flex-right">
<ul class="nav top-bar-nav nav-right nav-small nav-divided nav-uppercase">
<li class="header-contact-wrapper">
<ul class="nav medium-nav-center nav-divided nav-uppercase header-contact" id="header-contact">
<li class="">
<a class="tooltip" href="mailto:info@escapegamethehunt.nl" title="info@escapegamethehunt.nl">
<i aria-hidden="true" class="icon-envelop" style="font-size:16px;"></i> <span>
			       	info@escapegamethehunt.nl			       </span>
</a>
</li>
<li class="">
<a class="tooltip" href="tel:+31850047719" title="+31850047719">
<i aria-hidden="true" class="icon-phone" style="font-size:16px;"></i> <span>+31850047719</span>
</a>
</li>
</ul>
</li>
</ul>
</div>
<div class="flex-col show-for-medium flex-grow">
<ul class="nav nav-center nav-small mobile-nav nav-divided nav-uppercase">
<li class="html custom html_topbar_left">Bezoekadres: Nering 10-1, 8355 DK in Giethoorn</li> </ul>
</div>
</div>
</div>
<div class="header-main nav-dark" id="masthead">
<div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">
<div class="flex-col logo" id="logo">
<a href="/" rel="home" title="Escape Game The Hunt - Kan jij ontsnappen uit de handen van de Hunters…">
<img alt="Escape Game The Hunt" class="header_logo header-logo" height="696" src="/assets/uploads/2025/06/escape-game-the-hunt-wit-logo.png" width="576"/><img alt="Escape Game The Hunt" class="header-logo-dark" height="696" src="/assets/uploads/2025/06/escape-game-the-hunt-wit-logo.png" width="576"/></a>
</div>
<div class="flex-col show-for-medium flex-left">
<ul class="mobile-nav nav nav-left">
<li class="nav-icon has-icon">
<a aria-controls="main-menu" aria-expanded="false" aria-haspopup="dialog" aria-label="Menu" class="is-small" data-bg="main-menu-overlay" data-flatsome-role-button="" data-open="#main-menu" data-pos="left" href="#" role="button">
<i aria-hidden="true" class="icon-menu"></i> </a>
</li>
</ul>
</div>
<div class="flex-col hide-for-medium flex-left flex-grow">
<ul class="header-nav header-nav-main nav nav-left nav-divided nav-size-medium nav-uppercase">
</ul>
</div>
<div class="flex-col hide-for-medium flex-right">
<ul class="header-nav header-nav-main nav nav-right nav-divided nav-size-medium nav-uppercase">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1157 menu-item-design-default" id="menu-item-1157"><a class="nav-top-link" href="/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1124 menu-item-design-default has-dropdown" id="menu-item-1124"><a aria-expanded="false" aria-haspopup="menu" class="nav-top-link" href="/escape-game-the-hunt-locaties/">Locaties<i aria-hidden="true" class="icon-angle-down"></i></a>
<ul class="sub-menu nav-dropdown nav-dropdown-default dark">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2061" id="menu-item-2061"><a href="/escape-game-the-hunt-locaties/escape-game-the-hunt-amersfoort/">Amersfoort</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1990" id="menu-item-1990"><a href="/escape-game-the-hunt-locaties/escape-game-the-hunt-amsterdam/">Amsterdam</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1861" id="menu-item-1861"><a href="/escape-game-the-hunt-locaties/escape-game-the-hunt-groningen/">Groningen</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1864" id="menu-item-1864"><a href="/escape-game-the-hunt-locaties/escape-game-the-hunt-nijmegen/">Nijmegen</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1989" id="menu-item-1989"><a href="/escape-game-the-hunt-locaties/escape-game-the-hunt-rotterdam-2/">Rotterdam</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2332" id="menu-item-2332"><a href="/escape-game-the-hunt-locaties/escape-game-the-hunt-eindhoven/">Eindhoven</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1862" id="menu-item-1862"><a href="/escape-game-the-hunt-locaties/escape-game-the-hunt-steenwijk/">Steenwijk</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1863" id="menu-item-1863"><a href="/escape-game-the-hunt-locaties/escape-game-the-hunt-tilburg/">Tilburg</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1865" id="menu-item-1865"><a href="/escape-game-the-hunt-locaties/">Alle Locaties</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2481 menu-item-design-default" id="menu-item-2481"><a class="nav-top-link" href="/escape-game-the-hunt-fotopagina/">Sfeerimpressie</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2552 menu-item-design-default" id="menu-item-2552"><a class="nav-top-link" href="/op-maat-gemaakt/">Op maat gemaakt</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2227 menu-item-design-default" id="menu-item-2227"><a class="nav-top-link" href="/escape-game-the-hunt-prijzen/">Prijzen</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2337 menu-item-design-default has-dropdown" id="menu-item-2337"><a aria-expanded="false" aria-haspopup="menu" class="nav-top-link" href="#">Over<i aria-hidden="true" class="icon-angle-down"></i></a>
<ul class="sub-menu nav-dropdown nav-dropdown-default dark">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-360" id="menu-item-360"><a href="/contact/">Contact</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1866" id="menu-item-1866"><a href="/escape-game-the-hunt-nieuws/">Nieuws</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1834" id="menu-item-1834"><a href="/werken-bij/">Werken bij</a></li>
</ul>
</li>
</ul>
</div>
<div class="flex-col show-for-medium flex-right">
<ul class="mobile-nav nav nav-right">
</ul>
</div>
</div>
<div class="container"><div class="top-divider full-width"></div></div>
</div>
<div class="header-bg-container fill"><div class="header-bg-image fill"></div><div class="header-bg-color fill"></div></div> </div>
